{% extends 'base.html' %}

{% block title %}Password Change{% endblock %}

{% block content %}
<h1>Password change</h1>
<p>Please enter your old password, for secutity's sake, and then enter your new password twice so we can verify you
    typed it in correctly</p>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-success" value="Change my password">
</form>
{% endblock %}