{}

{% block title %}Enter new password{% endblock %}

{% block content %}
<h1>Set a new password!</h1>
<form method="post">
    {% cdrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-success" value="Change my password">
</form>
{% endblock %}