{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<div class="article-entry">
    <h2>{{ object.title }}</h2>
    <p>by {{ object.author }} | {{ object.date }}</p>
    <p>{{ object.body }}</p>
</div>
<p><a href="{% url 'article_edit' object.pk %}">Edit</a> | <a href="{% url 'article_delete' object.pk %}">Delete</a></p>
<p>Back to <a href="{% url 'article_list' %}">All articles</a></p>
{% endblock content %}