{% extends 'base.html' %}

{% block content %}
<h1>New Article</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success ml-2">Save</button>
</form>

{% endblock %}