{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Newspaper app</h1>
    <p class="lead">A Newspaper website build with Django by Mikhail Pinchuk</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" role="button" href="{% url 'article_list' %}">View All Articles</a>
    </p>
</div>

<!-- {% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>
    <a href="{% url 'signup' %}">signup</a>
{% endif %} -->
{% endblock %}